.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 15px 30px;
  color: var(--background-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  flex-wrap: wrap;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: var(--background-color);
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

.logo:hover {
  text-decoration: underline;
}

.blank-page {
  text-align: center;
  min-height: 100vh;
  padding: 100px 20px;
  width: 100%;
  background-color: var(--background-color);
}

.blank-page h1 {
  font-size: 2rem;
  background-color: var(--background-color);
}

.blank-page p {
  font-size: 1.2rem;
  color: var(--text-color);
}

